body {
	background-color: rgba(237,187,60);
	font-size:  20px;
}

main {
	flex: 1;
}

h1 {
	font-size: 4rem;
	font-weight: 100;
}

.nav-link {
	padding: 1rem;
}


.text-center {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
