<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="container text-center">
            {{- partial "header.html" . -}}
            <main>
                {{- block "main" . }}{{- end }}
            </main>
            <footer>
                {{- partial "footer.html" . -}}
            </footer>
        </div>
        {{- partial "script.html" . -}}
    </body>
</html>


