{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ range .Pages.ByPublishDate.Reverse }}
        <p>
            <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <p>{{ .Summary }}</p>
        </p>
    {{ end }}
{{ end }}